.containerDataViz {
  width: 100%;
  height: auto;
  margin: 3rem 0;
  display: grid;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  justify-items: center;
  gap: 2rem;
}

@media (max-width: 30rem) {
  .containerDataViz {
    width: 100%;
    height: auto;
    margin: 3rem 0;
    display: grid;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: center;
  }
}