.drawMyLife {
  width: 40rem;
  height: 20rem;
  margin: 3rem 0 3rem 0;
}

@media (max-width: 30rem) {
  .drawMyLife {
    width: 16rem;
    height: 15rem;
    margin: 2.5rem 0 2.5rem 0;
  }
}

@media (min-width: 30rem) and (max-width: 65rem) {
  .drawMyLife {
    width: 25rem;
    height: 15rem;
    margin: 2.5rem 0 2.5rem 0;
  }
}
